<h1>Sample Scripts</h1>
<ul>
  <li><%= link_to "Card Payment Simple", card_payment_simple_path %></li>
  <li><%= link_to "Card Payment With Customer Vault", card_payment_customer_vault_path %></li>
  <li><%= link_to "Hosted Payment Silent", hosted_payment_silent_path %></li>
  <li><%= link_to "Hosted Payment Simple", hosted_payment_simple_path %></li>
</ul>